$icon-sizes: (
    "defaul": 24px,
    "big": 36px,
);

$icon-github: "\eab0";
$icon-linkedin: "\e902";
$icon-twitter: "\e901";
$icon-mysql: "\e906";
$icon-php: "\e903";
$icon-symfony: "\e904";
$icon-js: "\e905";
$icon-html: "\eae5";
$icon-css: "\eae6";
$arrow-down: "\e900";
$chevron-thin-right: "\e908";
$chevron-thin-left: "\e907";
$icon-react: "\e90a";
$icon-next-js: "\e909";