$icon-menu: "\e901";
$icon-search: "\e986";
$icon-rocket: "\e902";
$icon-open-book: "\e900";
$icon-megaphone: "\e904";
$icon-browser: "\e903";
$icon-network: "\e905";
$icon-pie-chart: "\e99a";
$icon-dots-three-vertical: "\e906";