@use '../susanoo-functions' as susanoo;
@use 'variables' as variables;
@use '../reset-list' as list;

.projects {
    .headline {
        text-align: center;
        color: #4a4a4b;
        font: {
            weight: var(--font-weight-bold);
        }
    }
    ul {
        @include list.reset-list();
    }
}