@use '../susanoo-functions' as susanoo;
@use '../reset-list' as list;
@use 'variables' as variables;
@use '../icons' as icon;

.main-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min: {
        height: 10vh;
    }
    .mobile-animation {
        visibility: hidden;
        width: 100%;
        top: 0;
        left: -100%;
        height: 100vh;
        position: fixed;
        background: {
            image: linear-gradient(270deg,#f06449,#ef3636);
        }
        transition: all .5s cubic-bezier(.694,.048,.335,1);
        z-index: 1;
        @media (max-width: 40em) {
            &.is-active {
                visibility: visible;
                left: 0;
            }
        }
    }
    .container {
        @media (max-width: 40em) {
            visibility: hidden;
            display: grid;
            align-content: space-between;
            position: fixed;
            width: 100%;
            top: 0;
            left: -100%;
            height: 100vh;
            transition: all 1s ease-in-out;
            background: {
                image: linear-gradient(270deg,#235aa6,#101b3b);
            }
            z-index: 6;
            .home-links {
                visibility: hidden;
                opacity: 0;
                transition: margin-top 1s ease .5s, opacity 1s ease .5s;
            }
            .social-links {
                visibility: hidden;
                opacity: 0;
                transition: margin-bottom 1s ease .5s, opacity 1s ease .5s;
            }
        }
        @include susanoo.breakpoint(medium) {
            display: block;
        }
        @media (max-width: 40em) {
            &.is-active {
                visibility: visible;
                top: 0;
                left: 0;
                .button-close {
                    justify-self: end;
                    margin: {
                        top: susanoo.rem-calc(10);
                        right: susanoo.rem-calc(16);
                    }
                }
                .home-links {
                    visibility: visible;
                    opacity: 1;
                    margin: {
                        top: susanoo.rem-calc(-120);
                    }
                    padding: {
                        left: susanoo.rem-calc(60);
                    }
                    a {
                        color: var(--color-on-primary);
                        font: {
                            size: susanoo.rem-calc(30);
                        }
                        width: 100%;
                    }
                }
                .social-links {
                    visibility: visible;
                    opacity: 1;
                    margin: {
                        bottom: susanoo.rem-calc(16);
                    }
                }
            }
        }
    }
    ul {
        @include list.reset-list();
    }
    .home-links {
        @media (max-width: 40em) {
            margin: {
                bottom: susanoo.rem-calc(-100)
            }
        }
        li {
            &.icon {
                display: none;
            }
        }
        @include susanoo.breakpoint(medium) {
            display: flex;
            position: unset;
            height: unset;
            justify-content: unset;
            width: unset;
            background: {
                image: unset;
            }
            flex: {
                direction: row;
            }
            margin: {
                left: susanoo.rem-calc(24);
            }
            li {
                display: flex;
                align-items: center;
                margin: 0 susanoo.rem-calc(16);
                &:last-child {
                    display: flex;
                }
                &.home {
                    display: none;
                }
            }
        }
    }
    .social-links {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: {
            wrap: wrap;
        }
        @include susanoo.breakpoint(medium) {
            display: none;
        }
        li {
            margin: 0 susanoo.rem-calc(12);
        }
    }
    button {
        background: {
            color: transparent;
        }
        border: unset;
        cursor: pointer;
        &::before {
            bottom: susanoo.rem-calc(20);
        }
        &::after {
            bottom: susanoo.rem-calc(20);
        }
        .icon {
            display: block;
            width: susanoo.rem-calc(20);
            &::before {
                @include susanoo.icon(icon.$icon-half-moon);
                font: {
                    size: susanoo.rem-calc(56);
                }
                margin: {
                    left: susanoo.rem-calc(-18);
                }
            }
        }
    }
    img {
        color: var(--color-on-primary);
        padding: susanoo.rem-calc(6) 0;
        height: susanoo.rem-calc(74);
        width: susanoo.rem-calc(74);
    }
}