@use '../susanoo-functions' as susanoo;
@use '../reset-list' as list;
@use 'variables' as variables;
@use '../icons' as icon;

.main-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min: {
        height: 10vh;
    }
    .container {
        display: none;
        @include susanoo.breakpoint(medium) {
            display: block;
        }
        @media (max-width: 40em) {
            &.is-active {
                display: grid;
                align-content: space-between;
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100vh;
                background: {
                    image: linear-gradient(270deg,#235aa6,#101b3b);
                }
                z-index: 2;
                .button-close {
                    justify-self: end;
                    margin: {
                        top: susanoo.rem-calc(10);
                        right: susanoo.rem-calc(16);
                    }
                }
                .home-links {
                    padding: {
                        left: susanoo.rem-calc(60);
                    }
                    margin: {
                        top: susanoo.rem-calc(-60);
                    }
                    a {
                        color: var(--color-on-primary);
                        font: {
                            size: susanoo.rem-calc(30);
                        }
                        width: 100%;
                    }
                }
            }
        }
    }
    ul {
        @include list.reset-list();
    }
    .home-links {
        li {
            &.icon {
                display: none;
            }
        }
        @include susanoo.breakpoint(medium) {
            display: flex;
            position: unset;
            height: unset;
            justify-content: unset;
            width: unset;
            background: {
                image: unset;
            }
            flex: {
                direction: row;
            }
            margin: {
                left: susanoo.rem-calc(24);
            }
            li {
                display: flex;
                align-items: center;
                margin: 0 susanoo.rem-calc(16);
                &:last-child {
                    display: flex;
                }
                &.home {
                    display: none;
                }
            }
        }
    }
    .social-links {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: {
            bottom: susanoo.rem-calc(16);
        }
        flex: {
            wrap: wrap;
        }
        @include susanoo.breakpoint(medium) {
            display: none;
        }
        li {
            margin: 0 susanoo.rem-calc(12);
        }
    }
    button {
        background: {
            color: transparent;
        }
        border: unset;
        cursor: pointer;
        &::before {
            bottom: susanoo.rem-calc(20);
        }
        &::after {
            bottom: susanoo.rem-calc(20);
        }
        .icon {
            display: block;
            width: susanoo.rem-calc(20);
            &::before {
                @include susanoo.icon("\e900");
                font: {
                    size: susanoo.rem-calc(56);
                }
                margin: {
                    left: susanoo.rem-calc(-18);
                }
            }
        }
    }
    img {
        color: var(--color-on-primary);
        height: susanoo.rem-calc(60);
        width: susanoo.rem-calc(60);
    }
}