<section class="section about-me" id="about-me">
    <div class="wrapper">
        <ul class="fact-list">
        {{- range $index, $value := (where .Site.RegularPages "Type" "facts") -}}
            <li class="fact">
                <div class="mask mask-about-me--head" data-overlay>
                    <div data-overlay></div>
                    <h2 class="h4 headline">About me</h2>
                </div>
                <div class="content-wrapper">
                    <div class="container">
                        <div class="mask mask-about-me--second-head" data-overlay>
                            <div data-overlay></div>
                            <h3 class="h2 headline">Fact 0{{ add $index 1}}</h3>
                        </div>
                        <div class="mask title" data-overlay>
                            <div data-overlay></div>
                            <h3 class="h3 headline">{{ .Title }}</h3>
                        </div>
                        <div class="mask-about-me" data-overlay>
                            <div data-overlay></div>
                            <div class="content">{{ .Content }}</div>
                        </div>
                        <div class="section-text">About</div>
                        <div class="mask mask-about-me technology" data-overlay>
                            <h4 class="h4 headline">Technologies I've learned</h4>
                            <ul class="technologies">
                                <li class="html">
                                    <span>HTML</span>
                                </li>
                                <li class="css">
                                    <span>CSS</span>
                                </li>
                                <li class="java-script">
                                    <span>JS</span>
                                </li>
                                <li class="symfony">
                                    <span>Symfony</span>
                                </li>
                                <li class="php">
                                    <span>PHP</span>
                                </li>
                                <li class="mysql">
                                    <span>MySQL</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="image-container">
                        <img src="/logo1.png" alt="{{ .Title }}" data-second-overlay>
                    </div>
                </div>
            </li>
        {{- end -}}
        </ul>
    </div>
</section>