<section id="distributor-cards" class="section distributor-cards">
    <div class="wrapper">
        <div class="mask mask-about-me--head" data-overlay>
            <div data-overlay></div>
            <h2 class="h4 headline">Choose The Card</h2>
        </div>
        <ul>
            <li class="panel">
                <a href="#" class="katarina">
                    <div class="content">
                        <h2 class="h3 headline">Katarina Bio</h2>
                        <p>
                            Born to one of the most respected noble families of Noxus, Katarina Du Couteau found herself elevated above others from an early age.
                            While her younger sister Cassiopeia took after their politically brilliant mother, Katarina was very much her father’s daughter, and the wily General
                            Du Couteau pushed her to learn the way of the blade; to cut away the empire’s enemies not with reckless brutality,
                            but deadly precision. He was a harsh teacher with many pupils, and notoriously difficult to impress.
                        </p>
                    </div>
                    <video muted="true" autoplay loop>
                        <source src="/katarina_video_splashart.mp4" type="video/mp4">
                    </video>
                </a>
                <div class="video">
                    <video muted="true" autoplay loop>
                        <source src="/katarina_background_video.webm" type="video/webm">
                    </video>
                </div>
            </li>
            <li class="panel link-project" data-overlay>
                <a href="#" class="akali">
                    <div class="content">
                        <h2 class="h3 headline">Akali Bio</h2>
                        <p>
                            Ionia has always been a land of wild magic, its vibrant people and powerful spirits seeking to live in harmony…
                            but sometimes this peaceful equilibrium does not come easily. Sometimes it needs to be kept in check.
                        </p>
                        <p>
                            The Kinkou are the self-appointed keepers of Ionia’s sacred balance. The order’s loyal acolytes walk the spirit and material realms,
                            mediating conflicts between them and, when necessary, intervening by force. Born among their ranks was Akali, daughter
                            of Mayym Jhomen Tethi, the renowned Fist of Shadow.
                            Mayym and her partner Tahno raised their daughter within the Kinkou Order, under the watchful leadership of Great Master Kusho, the Eye of Twilight.
                        </p>
                    </div>
                    <video muted="true" autoplay loop>
                        <source src="/akali_video_splashart.mp4" type="video/mp4">
                    </video>
                </a>
                <div class="video">
                    <video muted="true" autoplay loop>
                        <source src="/akali_background_video.webm" type="video/webm">
                    </video>
                </div>
            </li>
            <li class="panel">
                <a href="#" class="yasuo">
                    <div class="content">
                        <h2 class="h3 headline">Yasuo Bio</h2>
                        <p>
                            As a child, Yasuo often believed what the others in his village said of him: on the best days, his very existence was an error in judgement;
                            on the worst, he was a mistake that could never be undone.
                        </p>
                        <p>
                            Like most pain, there was some truth to it. His mother was a widow already raising a young son,
                            when the man who would be Yasuo’s father blew into her life like an autumn wind.
                            And, just like that lonely season, he was gone again before the blanket of Ionian winter settled over the small family.
                        </p>
                    </div>
                    <video muted="true" autoplay loop>
                        <source src="/yasuo_video_splashart.mp4" type="video/mp4">
                    </video>
                </a>
                <div class="video">
                    <video muted="true" autoplay loop>
                        <source src="/katarina_second_background_video.webm" type="video/webm">
                    </video>
                </div>
            </li>
        </ul>
    </div>
</section>