<section class="section headlines">
    <div class="wrapper">
        <ul>
            <li>
                <h1 class="h1 headline">H1 Headline</h1>
            </li>
            <li>
                <h2 class="h2 headline">H2 Headline</h2>
            </li>
            <li>
                <h3 class="h3 headline">H3 Headline</h3>
            </li>
            <li>
                <h4 class="h4 headline">H4 Headline</h4>
            </li>
            <li>
                <h5 class="h5 headline">H5 Headline</h5>
            </li>
            <li>
                <h6 class="h6 headline">H6 Headline</h6>
            </li>
        </ul>
    </div>
</section>