<section class="my-work" id="my-work" data-section>
    <div class="wrapper">
        <div class="mask mask-about-me--head" data-overlay>
            <div data-overlay></div>
            <h2 class="h4 headline">My Work</h2>
        </div>
        <div class="swiper-container" data-slider>
            <div class="swiper-wrapper">
                <div class="swiper-slide" data-overlay>
                    <a href="https://hiking-norway.netlify.app/" rel="external noopener" target="_blank">
                        <div class="image-wrapper" data-slider-image-wrapper>
                            <img src="akalientessMyWorkImpr1.png" alt="Hiking in Norway">
                        </div>
                        <div class="description">
                            <h2 class="headline h4">Hiking in Norway</h2>
                            <p>Click to go to Website</p>
                        </div>
                        <div class="project-mask"></div>
                    </a>
                </div>
                <div class="swiper-slide" data-overlay>
                    <a href="https://fashion-news.netlify.app/" rel="external noopener" target="_blank">
                        <div class="image-wrapper" data-slider-image-wrapper>
                            <img src="akalientessMyWorkImpr2.png" alt="Fashion News">
                        </div>
                        <div class="description">
                            <h2 class="headline h4">Fashion News</h2>
                            <p>Click to go to Website</p>
                        </div>
                        <div class="project-mask"></div>
                    </a>
                </div>
                <div class="swiper-slide" data-overlay>
                    <a href="https://running-community.netlify.app/" rel="external noopener" target="_blank">
                        <div class="image-wrapper" data-slider-image-wrapper>
                            <img src="akalientessMyWorkImpr3.png" alt="Running Community">
                        </div>
                        <div class="description">
                            <h2 class="headline h4">Running Community</h2>
                            <p>Click to go to Website</p>
                        </div>
                        <div class="project-mask"></div>
                    </a>
                </div>
            </div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>
</section>