<section class="my-work" id="my-work" data-section>
    <div class="wrapper">
        <div class="mask mask-about-me--head" data-overlay>
            <div data-overlay></div>
            <h2 class="h4 headline">My Work</h2>
        </div>
        <div class="swiper-container" data-slider>
            <div class="swiper-wrapper">
                {{- range $index, $value := (where .Site.RegularPages "Type" "my-work").Reverse -}}
                <div class="swiper-slide" {{ if le $index 2 }} data-overlay {{ end }}>
                    <a href="{{ .Params.affiliatelink }}" rel="external noopener" target="_blank">
                        <div class="image-wrapper" data-slider-image-wrapper>
                            <img src="{{ .Params.ImageName }}" alt="Hiking in Norway">
                        </div>
                        <div class="description">
                            <h2 class="headline h4">{{ .Title }}</h2>
                            <p>{{ .Content }}</p>
                        </div>
                        <div class="project-mask"></div>
                    </a>
                </div>
                {{- end -}}
            </div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>
</section>