<section class="section staging">
    <canvas class="canvas" data-canvas></canvas>
    <div class="wrapper">
        <div class="inner-wrapper">
            <div class="container">
                <div class="mask">
                    <div data-overlay></div>
                    <h1 class="h1 headline">AkaLientesS</h1>
                </div>
                <div class="mask">
                    <div data-overlay></div>
                    <h2 class="h5 headline author">Created by Dawid Oleksiuk</h2>
                </div>
                <div class="mask long-text">
                    <div data-overlay></div>
                    <h3 class="h5 headline">Hey! I'm Dawid. I'm Fullstack Developer who is building Websites with passion.</h3>
                </div>
            </div>
        </div>
        {{ partial "social-links.html" . }}
    </div>
</section>