<section class="section staging">
    <canvas class="canvas" data-canvas></canvas>
    <div class="wrapper">
        <div class="inner-wrapper">
            <div class="container">
                <div class="mask">
                    <div data-overlay></div>
                    <h1 class="h1 headline">AkaLientesS</h1>
                </div>
                <div class="mask">
                    <div data-overlay></div>
                    <h2 class="h5 headline author">Created by Dawid Oleksiuk</h2>
                </div>
                <div class="mask long-text">
                    <div data-overlay></div>
                    <h3 class="h5 headline">Hey! I'm Dawid. I'm Fullstack Developer who is building Website with passion</h3>
                </div>
            </div>
        </div>
        <ul class="social-list">
            <li>
                <a href="#" class="github">
                    <span>Github</span>
                </a>
            </li>
            <li>
                <a href="#" class="twitter">
                    <span>Twitter</span>
                </a>
            </li>
            <li>
                <a href="#" class="linkedin">
                    <span>Linkedin</span>
                </a>
            </li>
            <li>
                <a href="#" class="codepen">
                    <span>Codepen</span>
                </a>
            </li>
        </ul>
    </div>
</section>