{{ partial "head.html" . }}

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TBNNGMD"
                      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    {{ partial "header.html" . }}
    {{ partial "sections/staging.html" . }}
    <main class="page-body">
        {{ block "content" . }}{{ end }}
    </main>
</body>

{{ partial "footer.html" . }}