@use '../susanoo-functions' as susanoo;
@use '../reset-list' as list;
@use '../icons' as icon;
@use 'variables';

.social-list {
    @include list.reset-list();
    display: grid;
    align-content: center;
    position: relative;
    height: 100%;
    margin: {
        left: auto;
    }
    span {
        display: none;
    }
    li {
        margin: {
            bottom: susanoo.rem-calc(24);
        }
    }
    a {
        text-decoration: none;
        &::before {
            @include susanoo.icon(null, false);
            color: variables.$icon-color;
            padding: susanoo.rem-calc(16);
            font: {
                size: susanoo.rem-calc(24);
            }
            transition: color .2s ease;
            @include susanoo.breakpoint(large-m) {
                font: {
                    size: susanoo.rem-calc(46);
                }
            }
        }
        &:hover {
            &::before {
                color: var(--color-on-primary);
            }
        }
    }
    .github {
        &::before {
            @include susanoo.icon(icon.$icon-github);
        }
    }
    .twitter {
        &::before {
            @include susanoo.icon(icon.$icon-twitter);
        }
    }
    .linkedin {
        &::before {
            @include susanoo.icon(icon.$icon-linkedin);
        }
    }
}