@use '../susanoo-functions' as susanoo;
@use '../reset-list' as list;
@use '../icons' as icon;
@use 'variables';

.section {
    .technologies {
        @include list.reset-list();
        display: flex;
        flex: {
            wrap: wrap;
        }
        span {
            display: none;
        }
        li {
            margin: {
                top: susanoo.rem-calc(10);
            }
            &::after {
                @include susanoo.icon(null, false);
                font: {
                    size: susanoo.rem-calc(36);
                }
                margin: {
                    right: susanoo.rem-calc(32);
                }
            }
        }
        .html {
            &::after {
                @include susanoo.icon(icon.$icon-html, true);
                color: variables.$color-html;
            }
        }
        .css {
            &::after {
                @include susanoo.icon(icon.$icon-css, true);
                color: variables.$color-css;
            }
        }
        .java-script {
            &::after {
                @include susanoo.icon(icon.$icon-js, true);
                color: variables.$color-js-node;
            }
        }
        .react {
            &::after {
                @include susanoo.icon(icon.$icon-react, true);
                color: variables.$color-react;
            }
        }
        .next-js {
            &::after {
                @include susanoo.icon(icon.$icon-next-js, true);
            }
        }
        .symfony {
            &::after {
                @include susanoo.icon(icon.$icon-symfony, true);
            }
        }
        .php {
            &::after {
                @include susanoo.icon(icon.$icon-php, true);
                color: variables.$color-php;
            }
        }
        .mysql {
            &::after {
                @include susanoo.icon(icon.$icon-mysql, true);
                color: variables.$color-mysql;
            }
        }
    }

    .technology {
        @media (max-width: 40em) {
            margin: {
                bottom: susanoo.rem-calc(-56);
            }
        }
        @include susanoo.breakpoint(medium) {
            margin: {
                bottom: susanoo.rem-calc(56);
            }
        }
        margin: {
            top: auto;
            bottom: susanoo.rem-calc(156);
        }
        opacity: 0;
        transition: opacity .35s linear, margin-bottom .35s linear;
        &.mask-revealed {
            opacity: 1;
            margin: {
                bottom: susanoo.rem-calc(56);
            }
            @include susanoo.breakpoint(medium) {
                margin: {
                    bottom: susanoo.rem-calc(120);
                }
            }
            @include susanoo.breakpoint(large-m) {
                margin: {
                    bottom: susanoo.rem-calc(256);
                }
            }
        }
    }
}