@use '../susanoo-functions' as susanoo;
@use 'variables' as variables;
@use '../icons/variables' as icon;
@use 'animations';

.button {
    display: block;
    position: relative;
    font: {
        size: susanoo.rem-calc(16);
    }
    text: {
        transform: uppercase;
    }
    border: {
        style: none;
        radius: susanoo.rem-calc(100);
    }
    padding: susanoo.rem-calc(12) susanoo.rem-calc(50);
    transition: transform 0.2s, opacity 0.2s;
    cursor: pointer;
    color: variables.$color;
    background: {
        color: variables.$background-color;
    }
    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 susanoo.rem-calc(16) susanoo.rem-calc(32) rgba(black, 0.2);
        &::after {
            transform: scale(1.4) scaleY(1.6);
            opacity: 0;
        }
    }
    &:active,
    &:focus {
        transform: translateY(-1px);
        box-shadow: 0 susanoo.rem-calc(8) susanoo.rem-calc(16) rgba(black, 0.2);
    }
    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border: {
            radius: susanoo.rem-calc(100);
        }
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: transform 0.4s, opacity 0.4s;
        background-color: variables.$after-background-color;
    }
}

.button-header {
    cursor: pointer;
    display: inline-block;
    width: susanoo.rem-calc(45);
    height: susanoo.rem-calc(45);
    border: {
        radius: susanoo.rem-calc(200);
        style: none;
        width: unset;
    }
    transition: background-color 0.2s linear;
    &:active,
    &:focus {
        outline: none;
    }
    &::before {
        @include susanoo.icon(null, true);
        color: variables.$button-header-before-color;
        font: {
            size: susanoo.rem-calc(20);
        }
    }
}

.button-menu {
    cursor: pointer;
    display: inline-block;
    background: {
        color: transparent;
    }
    border: none;
    width: susanoo.rem-calc(45);
    height: susanoo.rem-calc(45);
    &::before {
        font: {
            size: susanoo.rem-calc(32);
        }
        color: variables.$button-menu-hover-color;
        transition: color 0.2s ease-in-out;
    }
    &:hover {
        &::before {
            color: variables.$button-menu-before-hover-color;
        }
    }
}

.button-rectangle {
    background: {
        color: #667EEA;
    }
    border: {
        style: none;
    }
    cursor: pointer;
    width: susanoo.rem-calc(26);
    height: susanoo.rem-calc(36);
    border: {
        radius: susanoo.rem-calc(4);
    }
    transition: background-color 0.2s ease-in-out;
    &:hover {
        background: {
            color: #4f6ce8;
        }
    }
    &::before {
        color: white;
        font: {
            size: susanoo.rem-calc(20);
        }
    }
}

.page-header {
    .button-close {
        :is(span) {
            background: {
                color: #dbdce4;
            }
        }
        &:hover {
            .first-label,
            .second-label {
                animation: button-close-background-color-grey .5s cubic-bezier(.694,.048,.335,1);
            }
        }
    }
}

.button-close {
    display: none;
    position: relative;
    @media (max-width: 40em) {
        &.is-active {
            display: block;
            width: susanoo.rem-calc(54);
            height: susanoo.rem-calc(54);
        }
    }
    &:hover {
        .first-label {
            transform: rotate(-45deg);
            animation: button-close-background-color .5s cubic-bezier(.694,.048,.335,1);
        }
        .second-label {
            transform: rotate(45deg);
            animation: button-close-background-color .5s cubic-bezier(.694,.048,.335,1);
        }
    }
    :is(span) {
        display: block;
        height: 4px;
        background: {
            color: var(--color-black-primary)
        }
    }
    .first-label {
        transform: rotate(45deg);
        transition: transform .4s cubic-bezier(.694,.048,.335,1);
    }
    .second-label {
        transform: rotate(-45deg);
        transition: transform .4s cubic-bezier(.694,.048,.335,1);
        margin: {
            top: -4px;
        }
    }
}

.button-menu {
    display: block;
    width: susanoo.rem-calc(64);
    height: susanoo.rem-calc(62);
    margin: {
        right: susanoo.rem-calc(20);
        left: susanoo.rem-calc(20);
    }
    > .line-container {
        width: susanoo.rem-calc(44);
        height: susanoo.rem-calc(22);
        display: block;
        position: relative;
        background: {
            color: unset;
        }
    }
    @include susanoo.breakpoint(medium) {
        display: none;
    }
    &:hover {
        :is(.first-label, .second-label, .third-label) {
            border: {
                radius: susanoo.rem-calc(20);
            }
            animation: button-menu-hover-background-color 8s cubic-bezier(.694,.048,.335,1) infinite;
        }
        .first-label {
            top: 20%;
            left: 60%;
            right: 0;
            width: 70%;
            transform: rotate(90deg);
        }
        .second-label {
            width: 80%;
            top: -15%;
            transform: rotate(155deg);
        }
        .third-label {
            width: 80%;
            top: 50%;
            right: 0;
            bottom: 0;
            transform: rotate(30deg);
        }
    }
    :is(span) {
        display: block;
        height: 3px;
        background: {
            color: #dbdce4;
        }
    }
    .first-label {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        transition: all .4s cubic-bezier(.694,.048,.335,1);
    }
    .second-label {
        position: absolute;
        top: 50%;
        right: 0;
        width: 80%;
        margin: {
            top: -1px;
        }
        transition: all .4s cubic-bezier(.694,.048,.335,1);
    }
    .third-label {
        position: absolute;
        width: 50%;
        top: 90%;
        right: 0;
        bottom: 0;
        transition: all .4s cubic-bezier(.694,.048,.335,1);
    }
}