@use '../susanoo-functions' as susanoo;
@use 'variables';

html {
    scroll-behavior: smooth;
    &::-webkit-scrollbar {
        width: susanoo.rem-calc(12);
    }
    &::-webkit-scrollbar-thumb {
        background: {
            color: var(--grey-light);
        }
        border: {
            radius: susanoo.rem-calc(14);
        }
        &:hover {
            background: {
                color: variables.$scrollbar-hover-color;
            }
        }
    }
}

body {
    overflow-y: scroll;
}

.wrapper {
    max: {
        width: susanoo.rem-calc(1440);
    }
    margin: 0 auto;
}

.inner-wrapper {
    @include susanoo.breakpoint(large-m) {
        padding: 0 susanoo.rem-calc(160);
    }
}