<div class="contact" data-contact-section>
    <div class="container">
        <div class="contact-container">
            <button class="button-close" data-nav-contact>
                <span class="first-label"></span>
                <span class="second-label"></span>
            </button>
            <h2 class="h4 headline">Short Introduction</h2>
            <div class="content">
                Hi :) I'm Dawid Front-end and Backend Developer (Fullstack). I'm 22 Year old and I'm currently working as Azubi
                in Germany Company. I enjoy playing competitive games like League of Legends or Counter-Strike, in other words I'm a Gamer :D.
                I also spent like half year on Sport and I also try to eat healthy but eating healthy for me doesn't work at all :sweat_smile:
            </div>
            <div class="mail">
                If you want to Contact me through E-Mail then please use this one: <a href="mailto:dawidoleksiuk@wp.pl" class="link">Send me Mail</a>
            </div>
            <div>Otherwise you can contact me through social links below</div>
            <div class="section-text">About</div>
        </div>
        <div class="footer contact-footer">
            <div class="container">
                <div class="copyright">&copy; {{ dateFormat "2006" now  }} All rights reserved by Dawid Oleksiuk</div>
                {{ partial "social-links.html" . }}
            </div>
        </div>
    </div>
</div>