<div class="console-container hidden" data-console-container>
    <div class="number-container hidden" data-number-container></div>
    <div class="answer-container">
        <div class="countdown">
            <div class="progress-bar" data-answer-progress-bar></div>
        </div>
        <div class="question hidden" data-answer-question></div>
        <div class="box">
            <div class="box-description">Answer</div>
            <input class="input" placeholder="blue square" data-answer-input>
        </div>
    </div>
    <div class="text-container" data-text-container>
        <h3 class="loading-text" data-loading-text>Establish Connection</h3>
    </div>
    <div data-answer-reveal></div>
    <div data-revealed-submitted-text></div>
</div>
