<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="format-detection" content="telephone=no">

    <meta property="og:title" content="Blog" >
    <meta property="og:type" content="website" >
    <meta property="og:description" content="Discover my Blog to get information about me and also inspiration" >
    <meta property="og:locale" content="pl_PL" >
    <meta property="og:locale:alternate" content="en_GB" >
    <link rel="icon" type="image/png" href="{{ (resources.Get "favicon.png").RelPermalink }}">
    <link rel="apple-touch-icon" href="{{ (resources.Get "favicon.png").RelPermalink }}">

    <title>{{ .Site.Title }}</title>

    <link rel="stylesheet" href="{{ (resources.Get "build/main.css").RelPermalink }}">

    <script src="{{ (resources.Get "build/runtime.js").RelPermalink }}" defer></script>
    <script src="{{ (resources.Get "build/vendor.js").RelPermalink }}" defer></script>
    <script src="{{ (resources.Get "build/main.js").RelPermalink }}" defer></script>
</head>
