<ul class="social-list" data-second-overlay>
    <li>
        <a href="https://github.com/shadown125" rel="external noopener" target="_blank" class="github">
            <span>Github</span>
        </a>
    </li>
    <li>
        <a href="https://twitter.com/DawidOleksiuk" rel="external noopener" target="_blank" class="twitter">
            <span>Twitter</span>
        </a>
    </li>
    <li>
        <a href="https://www.linkedin.com/in/dawid-ol-2478311a4/" rel="external noopener" target="_blank" class="linkedin">
            <span>Linkedin</span>
        </a>
    </li>
</ul>