@use '../susanoo-functions' as susanoo;
@use 'variables' as variables;

.page-header {
    background: {
        color: var(--color-black-primary);
    }
    &.is-revealed {
        .main-navigation {
            visibility: visible;
            opacity: 1;
            top: 0;
        }
    }
}