$page-header-background-color: #3c4855;
$search-form-background-color: #7258E9;
$profile-border-color: #acb4be;
$profile-name: #acb4be;
$profile-profession: #7a8796;
$notification-background-color: #f6e6eb;
$notification-hover-background-color: #ffbcd1;
$notification-before-color: #d92550;
$notification-after-background-color: #d92550;
$language-background-color: #e8e8eb;
$language-hover-background-color: #d7d7ee;
$language-before-color: #2D2C3C;
$statistic-background-color: #defef0;
$statistic-hover-background-color: #acfbd9;
$statistic-before-color: #46c785;