@use '../susanoo-functions' as susanoo;
@use 'variables';
@use 'animations';

.projects-external {
    ul {
        padding: {
            left: 0;
        }
    }
    h2 {
        color: variables.$h2-color;
        text-align: center;
        font: {
            weight: var(--font-weight-bold);
        }
        margin: {
            bottom: susanoo.rem-calc(62);
        }
    }
    li {
        margin: {
            bottom: susanoo.rem-calc(24);
        }
        position: relative;
        &::before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 0;
            height: 100%;
            opacity: .4;
            background: {
                color: variables.$li-before-background-color;
            }
            z-index: 1;
            transition: width .35s ease-in-out;
        }
        &:hover {
            &::before {
                width: 100%;
            }
        }
        .overlay {
            position: absolute;
            width: 100%;
            top: 0;
            left: 0;
            background: {
                image: linear-gradient(270deg, variables.$overlay-linear-gradient-1, variables.$overlay-linear-gradient-2);
            }
            animation: overlayTextPE 1.5s ease-in-out;
        }
    }
    .link-project {
        display: block;
        position: relative;
        padding: susanoo.rem-calc(16);
        color: variables.$link-project-color;
        overflow: hidden;
        border: {
            width: 2px;
            color: variables.$link-project-border-color;
            style: solid;
        }
        transition: all .35s ease;
        z-index: 2;
        &:hover {
            color: variables.$link-project-hover-color;
            border: {
                color: variables.$link-project-hover-border-color;
            }
        }
        .headline {
            color: var(--color-black-primary);
        }
    }
}