$h2-color: #4a4a4b;
$li-before-background-color: #6dd5ed;
$overlay-linear-gradient-1: #FF0099;
$overlay-linear-gradient-2: #493240;
$link-project-color: #c22085;
$link-project-border-color: #c22085;
$link-project-hover-color: #235ab6;
$link-project-hover-border-color: #235ab6;