@use '../susanoo-functions' as susanoo;
@use '../reset-list' as list;
@use 'variables';

.headlines {
    background: {
        color: var(--color-black-primary);
    }
    ul {
        @include list.reset-list();
    }
}

.headline {
    color: variables.$color;
}