$overlay-background-color: var(--color-black-primary);
$anchor-border-color: #ff6767;
$box-shadow-color: $anchor-border-color;
$anchor-after-background-color: var(--color-black-primary);
$akali-box-shadow-color: #4f6ce8;
$content-color: white;
$anchor-before-linear-gradient: linear-gradient(rgba(79,108,232, 0.0), rgba(79,108,232, 1));